body {
  margin: 0px;
  padding: 0px;
}
footer,
header {
  display: flex;

  border: red solid 1px;
}
#container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 1fr;
  grid-area: "main aside";
}
main {
  grid-area: "main";
  width: 90%;
  height: auto;
  border: red solid 1px;
  background-color: yellow;
  margin: 10px auto;
}
aside > img {
  width: 100%;
  margin-top: -30px;
}
aside {
  grid-area: "aside";
  background-color: blue;
  border: red solid 1px;
  width: 90%;
  margin: 10px auto;
  height: auto;
}
iframe{width: 100%;}